body {
  font-family: sans-serif;
}
p {
  margin: 0;
  margin-bottom: 5px;
}
.container{
  width: 50%;
  min-width : 600px;
}
.header {
  margin: auto;
  height: 40px;
  width: 50%;
  min-width : 600px;
}
.header img,.sign {
  display: inline-block;
}
.header img {
  margin-right: 300px;
}
.header .sign p {
  display: inline-block;
}
fieldset {
  background-color: #4177ba;
}
.column {
  width: 50%;
  min-width : 600px;
  display: block;
  margin: auto;
}
.column1 {
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
  margin-right: 20px;
  width: 25%;
}
.column1 h3 {
  background-color: silver;
}
.welcome {
  padding-bottom: 10px;
  background-color: #e5e5e5;
}
.news {
  background-color: #e5e5e5;
}
.column1 .imgs a {
  display: block;
}
.column1 .imgs form,img {
  display: inline-block;
}
.column2{
  display: inline-block;
  width: 70%;
}
.SendRequest {
  vertical-align: top;
}

.column2 .money .SendRequest,img {
  display: inline-block;
}
.column2 img {
   width: 200px;
   margin-bottom: 60px;
   margin-left: 10px;
   margin-right: 10px;
}
.column2 h3 {
  background-color: silver;
  margin-left: 10px;
}
.column2 .spotlight {
  margin-left: 10px;
}
.column2 .spotlight #lin {
  margin-top: 5px;
  background-color: #e5e5e5;
}

.column2 .icons div {
  display: inline-block;
}

.column2 .icons img {
  vertical-align: top;
  width: 50px;
}
.end {
  margin: auto;
  width: 100%;
  min-width : 600px;
}
.end .end1 p {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.end .end1 {
  margin-left: 40px;
}
.end .end2 {
  margin: 0px 20px 0px 20px;
}
.end .end3 {
  margin: 0px 20px 0px 40px;
}
.end .end3 p{
  margin: 0px 0px 0px 60px;
}
.end .end2 p {
  display: inline-block;
}
.end img {
  width: 50px;
  padding-left: 250px;
}
