header {
  width: 1000px;
  background-color: silver
}
img {
  width: 150px;
}
body {
  margin: auto;
}
.container {
  width: 1000px;
  height: 300px;
  background-color: white;
  display: inline-block;
}
.intro {
  vertical-align: top;
  display: inline-block;
  width: 20%;
  height: 400px;
  margin-right: 20px;
}
h1 {
  width: 50px;
  margin: 50px 20px 30px 20px;
}
.signup  {
  background-image: url('PVW_9875.jpg');
  background-size: 75%;
  width: 75%;
  display: inline-block;
  height: 300px;
  margin: 10px
}
.input {
  color: red;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin-left: 600px;
}
input {
  margin: 15px 10px 0px -15px;
}
#up{
  background-color: #90ff00;
  width: 140px;
  height: 30px;
}
h2  {
  width: 150px;
  margin-left: -15px;
  background-color: white;
}
.extra {
  margin-top: 20px;
  width: 1000px;
  background-color: silver;
}
.extra .extra {
  width: 30%;
  display: inline-block;
}
.extra .extra img {
  height: 150px;
  margin-left: 130px;
}
h3 {
  margin-left: 140px;
  margin-right: 10px;
}
