.header {
  background-color: #3f5d9a;
  height: 90px;
}
.log {
  height: 30px;
  margin-left: 100px;
  margin-top: -25px;
}
.header h1  {
  color: white;
  display: inline-block;
  margin-left: 50px;
}
.email {
    position: absolute;
  margin-left: 550px;
  color: white;
  width: 180px;
  display: inline-block;
}
.password {
    position: absolute;
  margin-left: 700px;
  color: white;
  width: 100px;
  display: inline-block;
}
.login {
  margin-top: 20px;
  position: absolute;
  margin-left: 850px;
  color: white;
  display: inline-block;
}
.container {
  height: 400px;
  background-image: url("http://api.hdwallpapers5k.com/resource/fileuploads/photos/albums/1454/d9653be0-6262-4bf9-93dc-7e554134901f.jpg?quality=100&w=1000");
  background-size: 100%;
  vertical-align: top;
}
.NEWACC {
  border-radius: 5px;
  vertical-align: top;
  display: block;
  margin-left: 650PX;
  margin-bottom: 10PX;
  width: 300PX;
  height: 30px;
}
h1 {
  border-radius: 5px;
margin-left: 30px;
margin-bottom: -60px;
}
.thename {
  border-radius: 5px;
  display: inline-block;
  height: 30px;
  width: 142px;
}
#creatbottom {
  border-radius: 5px;
  background-color: #489e6a;
  color: white;
}
#creattext {
  border-radius: 5px;
  vertical-align: top;
}
body {
  background-image: url("");
}
a {
  margin-left: 20px;
}
