#wrapper{
  width:100px;
  height:100px;
  background: red;
  position:relative;
}
#center{
  background: green;
  height: 50px;
  width: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}
*{
  background-color: red;
}
