#map {
  margin: 10px;
  height: 400px;
  width: 100%;
}
.start1{
  background-color: #389912;
}
#search {
  color: #111c72;
  background-color: #90ff84;
  padding: 5px;
  margin-left: -200%;
  height: 20px;
  width: 200%;
}
.brand-logo {
  margin-left: 2%;
}
